<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PXApplicationKey</key>
	<dict>
		<key>PXApplicationNameKey</key>
		<string>World of Warcraft</string>
		<key>PXPathToApplicationKey</key>
		<string>/Applications/World of Warcraft/World of Warcraft-64.app</string>
	</dict>
	<key>PXTeamMembersKey</key>
	<dict>
		<key>Player1</key>
		<dict>
			<key>PXTeamMemberSlotNumberKey</key>
			<integer>1</integer>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>216,88,2682,1630</string>
			</dict>
		</dict>
		<key>Player2</key>
		<dict>
			<key>PXTeamMemberSlotNumberKey</key>
			<integer>2</integer>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>0,88,1292,892</string>
				<key>PXShouldVirtualizeApplicationKey</key>
				<true/>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot2/World of Warcraft-64.app</string>
			</dict>
		</dict>
		<key>Player3</key>
		<dict>
			<key>PXTeamMemberSlotNumberKey</key>
			<integer>3</integer>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>1300,88,2592,892</string>
				<key>PXShouldVirtualizeApplicationKey</key>
				<true/>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot3/World of Warcraft-64.app</string>
			</dict>
		</dict>
		<key>Player4</key>
		<dict>
			<key>PXTeamMemberSlotNumberKey</key>
			<integer>4</integer>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>0,892,1292,1696</string>
				<key>PXShouldVirtualizeApplicationKey</key>
				<true/>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot4/World of Warcraft-64.app</string>
			</dict>
		</dict>
		<key>Player5</key>
		<dict>
			<key>PXTeamMemberSlotNumberKey</key>
			<integer>5</integer>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>1300,892,2592,1696</string>
				<key>PXShouldVirtualizeApplicationKey</key>
				<true/>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot5/World of Warcraft-64.app</string>
			</dict>
		</dict>
	</dict>
	<key>PXMappedKeysKey</key>
	<dict>
		<key>SPACE</key>
		<dict>
			<key>PXMappedKeyTitleKey</key>
			<string>Jump</string>
			<key>PXMappedKeyBroadcastTargetKey</key>
			<string>PXBroadcastToAllWindows</string>
		</dict>
		<key>CTRL+SHIFT+I</key>
		<dict>
			<key>PXMappedKeyTitleKey</key>
			<string>Follow-The-Leader</string>
			<key>PXMappedKeyBroadcastTargetKey</key>
			<string>PXBroadcastToAllWindowsButCurrent</string>
		</dict>
	</dict>
</dict>
</plist>
