<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PXApplicationKey</key>
	<string>World of Warcraft</string>
	<key>PXTeamMembersKey</key>
	<array>
		<dict>
			<key>PXTeamMemberNameKey</key>
			<string>Player 1</string>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>216,88,2682,1630</string>
			</dict>
			<key>PXTeamMemberMappedKeysKey</key>
			<dict>
				<key>Follow the Leader</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>PXTeamMemberNameKey</key>
			<string>Player 2</string>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>0,88,1292,892</string>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot2/World of Warcraft-64.app</string>
			</dict>
			<key>PXTeamMemberMappedKeysKey</key>
			<dict>
				<key>Follow the Leader</key>
				<dict>
					<key>PXMappedKeyKeyCodeKey</key>
					<integer>0</integer>
					<key>PXMappedKeyFlagsKey</key>
					<integer>256</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>PXTeamMemberNameKey</key>
			<string>Player 3</string>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>1300,88,2592,892</string>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot3/World of Warcraft-64.app</string>
			</dict>
			<key>PXTeamMemberMappedKeysKey</key>
			<dict>
				<key>Heal ME!</key>
				<dict/>
				<key>Follow the Leader</key>
				<dict>
					<key>PXMappedKeyKeyCodeKey</key>
					<integer>0</integer>
					<key>PXMappedKeyFlagsKey</key>
					<integer>256</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>PXTeamMemberNameKey</key>
			<string>Player 4</string>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>0,892,1292,1696</string>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot4/World of Warcraft-64.app</string>
			</dict>
			<key>PXTeamMemberMappedKeysKey</key>
			<dict>
				<key>Heal ME!</key>
				<dict/>
				<key>Follow the Leader</key>
				<dict>
					<key>PXMappedKeyKeyCodeKey</key>
					<integer>0</integer>
					<key>PXMappedKeyFlagsKey</key>
					<integer>256</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>PXTeamMemberNameKey</key>
			<string>Player 5</string>
			<key>PXApplicationLaunchOptionsKey</key>
			<dict>
				<key>PXApplicationWindowBoundsKey</key>
				<string>1300,892,2592,1696</string>
				<key>PXVirtualizedApplicationLaunchPathKey</key>
				<string>~/Library/Application Support/Plexer/World of Warcraft/Slot5/World of Warcraft-64.app</string>
			</dict>
			<key>PXTeamMemberMappedKeysKey</key>
			<dict>
				<key>Heal ME!</key>
				<dict/>
				<key>Follow the Leader</key>
				<dict>
					<key>PXMappedKeyKeyCodeKey</key>
					<integer>1</integer>
					<key>PXMappedKeyFlagsKey</key>
					<integer>256</integer>
				</dict>
			</dict>
		</dict>
	</array>
	<key>PXMappedKeysKey</key>
	<dict>
		<key>Follow the Leader</key>
		<dict>
			<key>PXMappedKeyKeyCodeKey</key>
			<integer>0</integer>
			<key>PXMappedKeyFlagsKey</key>
			<integer>256</integer>
			<key>PXMappedKeyBroadcastTypeKey</key>
			<integer>1</integer>
		</dict>
		<key>Heal ME!</key>
		<dict>
			<key>PXMappedKeyKeyCodeKey</key>
			<integer>12</integer>
			<key>PXMappedKeyFlagsKey</key>
			<integer>256</integer>
			<key>PXMappedKeyBroadcastTypeKey</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
